.login-page {
  min-height: 100vh;
  background: #f8fafc;

  display: flex;
  justify-content: center;
  align-items: center;
}

.login-card {
  width: 420px;
  background: white;

  padding: 40px;
  border-radius: 15px;

  box-shadow: 0 10px 25px rgba(0,0,0,.1);
}

.login-card h1 {
  margin-bottom: 10px;
}

.login-card p {
  color: gray;
  margin-bottom: 25px;
}

.input-box {
  display: flex;
  align-items: center;

  border: 1px solid #ddd;
  border-radius: 8px;

  padding: 12px;
  margin-bottom: 20px;
}

.input-box input {
  flex: 1;
  border: none;
  outline: none;
  margin-left: 10px;
}

.input-box span {
  cursor: pointer;
}

.options {
  display: flex;
  justify-content: space-between;

  margin-bottom: 25px;

  font-size: 14px;
}

.options a {
  text-decoration: none;
  color: #2563eb;
}

.login-btn {
  width: 100%;
  padding: 14px;

  background: #2563eb;
  color: white;

  border: none;
  border-radius: 8px;

  cursor: pointer;
  font-size: 16px;
}

.divider {
  text-align: center;
  margin: 25px 0;
  color: gray;
}

.google-btn {
  width: 100%;
  padding: 14px;

  background: white;

  border: 1px solid #ddd;
  border-radius: 8px;

  cursor: pointer;
}

.register {
  text-align: center;
  margin-top: 25px;
}

.register span {
  color: #2563eb;
  cursor: pointer;
  font-weight: bold;
}