.search-container {
  display: flex;
  width: 100%;
  max-width: 650px;
  margin: auto;
}

.search-container input {
  flex: 1;
  padding: 14px;
  border: 2px solid #2563eb;
  border-right: none;
  outline: none;
  border-radius: 8px 0 0 8px;
  font-size: 16px;
}

.search-container button {
  width: 60px;
  border: none;
  background: #2563eb;
  color: white;
  border-radius: 0 8px 8px 0;
  cursor: pointer;
  transition: .3s;
}

.search-container button:hover {
  background: #1d4ed8;
}